/* Reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  padding: 0 26px;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  display: inline-block;
}
a,
a:hover,
a:active,
a:focus {
  color: inherit;
}
img,
video {
  width: 100%;
  height: auto;
}

/* Default */

:root {
  --background: #000000ed;
  --primary: #fff;
  --secondary: #ccc;
  --tertiary: #7d7d7d;
  --accent: #f09000;
  --red: #fc533e;
  --highlight-color: #f25f4c;

  /* Shiki */
  --twoslash-error-color: #d45656;
  --twoslash-error-bg: #d4565620;
  --twoslash-tag-color: #3772cf;
  --twoslash-tag-bg: #3772cf20;
  --twoslash-tag-warn-color: #c37d0d;
  --twoslash-tag-warn-bg: #c37d0d20;
  --twoslash-tag-annotate-color: #1ba673;
  --twoslash-tag-annotate-bg: #1ba67320;

  --vp-c-bg: #1b1b1f;
  --vp-c-text-1: rgba(255, 255, 245, 0.86);
  --vp-c-text-2: rgba(235, 235, 245, 0.6);
  --vp-font-family-base: 'Chinese Quotes', 'Inter var', 'Inter', ui-sans-serif, system-ui,
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica, Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  --vp-font-family-mono: ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;

  --vp-code-font-size: 0.875em;
  --vp-c-border: #3c3f44;
  --vp-c-brand: #83d0da50;
  --vp-z-index-local-nav: 20;

  --twoslash-popup-bg: var(--vp-c-bg, inherit);
  --twoslash-popup-color: var(--vp-c-text-1);
  --twoslash-docs-color: var(--vp-c-text-1);
  --twoslash-docs-font: var(--vp-font-family-base);
  --twoslash-code-font: var(--vp-font-family-mono);
  --twoslash-code-size: var(--vp-code-font-size);
  --twoslash-underline-color: #8888;
  --twoslash-border-color: var(--vp-c-border);
  --twoslash-cursor-color: var(--vp-c-brand);
  --twoslash-matched-color: #8cccd5;
  --twoslash-unmatched-color: var(--vp-c-text-2);
  --twoslash-popup-shadow: rgba(0, 0, 0, 0.08) 0px 1px 4px;
  --twoslash-jsdoc-color: #fff;

  --vp-code-line-height: 1.7;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--accent);
}

a:hover {
  color: var(--highlight-color);
}

body {
  margin: 0;
  background-color: var(--background);
  color: var(--primary);
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  font-synthesis: style;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica Neue,
    Arial,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #492c00b3;
  border-radius: 4px;
  transition: all 300ms ease-in-out;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--accent);
  transition: all 300ms;
}

/* Transform Diff */
.has-diff {
  position: relative;
}

.has-diff .line {
  display: inline-block;
  width: 100%;
}

.has-diff .diff {
  margin: 0 -24px;
  padding: 0 24px;
  width: calc(100% + 48px);
  display: inline-block;
}

.has-diff .diff.add {
  background-color: #0505;
}

.has-diff .diff.remove {
  background-color: #8005;
}

.has-diff .diff:before {
  position: absolute;
  left: 0;
  padding-left: 6px;
}

.has-diff .diff.add:before {
  content: '+';
  color: #3dd68c;
  border-left: 1px solid #10b981;
}

.has-diff .diff.remove:before {
  content: '-';
  color: #cb7676;
  border-left: 1px solid #f43f5e;
}

.has-highlighted .line.highlighted {
  background-color: rgba(101, 117, 133, 0.16);
  margin: 0 -24px;
  padding: 0 24px;
  width: calc(100% + 48px);
  display: inline-block;
}

.has-highlighted .line.highlighted.error {
  background-color: rgba(244, 63, 94, 0.16);
}

.has-highlighted .line.highlighted.warning {
  background-color: rgba(234, 179, 8, 0.16);
}

.has-focused .line:not(.focused) {
  filter: blur(0.095rem);
  opacity: 0.4;
  transition:
    filter 0.35s,
    opacity 0.35s;
}

.has-focused:hover .line:not(.focused) {
  filter: blur(0);
  opacity: 1;
}

.highlighted-word {
  background-color: #202127;
  border: 1px solid #3c3f44;
  padding: 1px 3px;
  margin: -1px -3px;
  border-radius: 4px;
}

/* ===== Hover Info ===== */
.twoslash:hover .twoslash-hover {
  border-color: var(--twoslash-underline-color);
}

.twoslash .twoslash-hover {
  border-bottom: 1px dotted transparent;
  transition-timing-function: ease;
  transition: border-color 0.3s;
  position: relative;
  padding: 0 0 3px;
}

.twoslash .twoslash-popup-container {
  display: none;
}

.twoslash.twoslash h1,
.twoslash.twoslash h2,
.twoslash.twoslash h3,
.twoslash.twoslash h4,
.twoslash.twoslash h5,
.twoslash.twoslash h6,
.twoslash.twoslash p {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: inherit;
}

.twoslash.twoslash a:hover {
  background-color: initial !important;
}

/* ===== Error Line ===== */
.twoslash .twoslash-error-line {
  position: relative;
  background-color: var(--twoslash-error-bg);
  border-left: 3px solid var(--twoslash-error-color);
  color: var(--twoslash-error-color);
  padding: 6px 6px;
  margin: 0.2em 0;
}

.twoslash .twoslash-error {
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%206%203'%20enable-background%3D'new%200%200%206%203'%20height%3D'3'%20width%3D'6'%3E%3Cg%20fill%3D'%23c94824'%3E%3Cpolygon%20points%3D'5.5%2C0%202.5%2C3%201.1%2C3%204.1%2C0'%2F%3E%3Cpolygon%20points%3D'4%2C0%206%2C2%206%2C0.6%205.4%2C0'%2F%3E%3Cpolygon%20points%3D'0%2C2%201%2C3%202.4%2C3%200%2C0.6'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")
    repeat-x bottom left;
  padding-bottom: 2px;
}

.twoslash .twoslash-completion-list {
  display: none;
}

/* Custom Tags */
.twoslash .twoslash-tag-line {
  position: relative;
  background-color: var(--twoslash-tag-bg);
  border-left: 3px solid var(--twoslash-tag-color);
  color: var(--twoslash-tag-color);
  padding: 6px 6px;
  margin: 0.2em 0;
  display: flex;
  align-items: center;
  gap: 0.3em;
}
.twoslash .twoslash-tag-line .twoslash-tag-icon {
  width: 1.1em;
  color: inherit;
  display: flex;
}
.twoslash .twoslash-tag-line.twoslash-tag-error-line {
  background-color: var(--twoslash-error-bg);
  border-left: 3px solid var(--twoslash-error-color);
  color: var(--twoslash-error-color);
}
.twoslash .twoslash-tag-line.twoslash-tag-warn-line {
  background-color: var(--twoslash-tag-warn-bg);
  border-left: 3px solid var(--twoslash-tag-warn-color);
  color: var(--twoslash-tag-warn-color);
}
.twoslash .twoslash-tag-line.twoslash-tag-annotate-line {
  background-color: var(--twoslash-tag-annotate-bg);
  border-left: 3px solid var(--twoslash-tag-annotate-color);
  color: var(--twoslash-tag-annotate-color);
}

.v-popper--theme-twoslash.v-popper--theme-twoslash {
  z-index: calc(var(--vp-z-index-local-nav) - 1);
}

.v-popper--theme-twoslash.v-popper--theme-twoslash .v-popper__inner {
  background: var(--twoslash-popup-bg);
  border: 1px solid var(--twoslash-border-color);
  padding: 0;
}

.v-popper--theme-twoslash.v-popper--theme-twoslash .v-popper__arrow-outer {
  border-color: var(--twoslash-border-color);
}

.v-popper--theme-twoslash.v-popper--theme-twoslash .v-popper__arrow-inner {
  border-color: var(--twoslash-popup-bg);
  visibility: visible;
}

.twoslash .v-popper {
  display: inline-block;
}

.twoslash-completion-list .twoslash-completions-icon {
  color: var(--twoslash-unmatched-color) !important;
}

.v-popper--theme-twoslash.v-popper--theme-twoslash .twoslash-popup-code {
  max-width: 600px;
  display: block;
  width: fit-content;
  min-width: 100%;
  padding: 6px 12px;
  line-height: var(--vp-code-line-height);
  font-size: var(--twoslash-code-size);
  transition: color 0.5s;
  white-space: pre-wrap;
}

.v-popper--theme-twoslash.v-popper--theme-twoslash .twoslash-popup-docs,
.v-popper--theme-twoslash.v-popper--theme-twoslash .twoslash-popup-error {
  padding: 0px 12px 0px 12px !important;
  font-family: var(--twoslash-docs-font);
  font-size: 0.9em;
  max-height: 500px;
  max-width: 700px;
  overflow-y: auto;
  overflow-x: hidden;
  text-wrap: balance;
}

.v-popper--theme-twoslash.v-popper--theme-twoslash .twoslash-popup-docs {
  border-top: 1px solid var(--twoslash-border-color);
  color: var(--twoslash-docs-color);
}

.v-popper--theme-twoslash.v-popper--theme-twoslash .twoslash-popup-error {
  color: var(--twoslash-error-color);
}

.v-popper--theme-twoslash.v-popper--theme-twoslash
  .twoslash-popup-error.twoslash-error-level-warning {
  color: var(--twoslash-warn-color);
}

.v-popper--theme-twoslash.v-popper--theme-twoslash .twoslash-popup-docs p,
.v-popper--theme-twoslash.v-popper--theme-twoslash .twoslash-popup-error p {
  margin: 0;
  padding: 6px 0;
  text-wrap: balance;
}

.v-popper--theme-twoslash.v-popper--theme-twoslash
  .twoslash-popup-docs
  pre
  .v-popper--theme-twoslash.v-popper--theme-twoslash
  .twoslash-popup-error
  pre {
  background-color: var(--vp-code-block-bg);
  border-radius: 8px;
  padding: 12px;
  margin: 6px -2px;
  overflow-x: auto;
}

.v-popper--theme-twoslash.v-popper--theme-twoslash .twoslash-popup-docs-tags {
  display: flex;
  flex-direction: column;
  padding: 8px 12px !important;
  line-height: var(--vp-code-line-height);
}

.twoslash-popup-docs.twoslash-popup-docs .twoslash-popup-docs-tag-value code {
  color: #8cccd5;
  border-radius: 4px;
  padding: 3px 6px;
  background-color: rgba(101, 117, 133, 0.16);
}

.twoslash-popup-docs.twoslash-popup-docs pre {
  overflow: auto;
}

.twoslash-popup-docs.twoslash-popup-docs pre {
  padding: 20px;
}

.twoslash-popup-docs.twoslash-popup-docs a {
  color: #8cccd5;
  text-decoration: underline;
}

.v-popper--theme-twoslash.v-popper--theme-twoslash
  .twoslash-popup-docs-tags
  .twoslash-popup-docs-tag-name {
  font-family: var(--twoslash-code-font);
  color: var(--twoslash-unmatched-color);
  margin-right: 0.5em;
  font-style: italic;
}

.twoslash-completion-cursor {
  height: 1.2em;
  width: 2px;
  margin-bottom: -0.2em;
  background: var(--twoslash-cursor-color);
  display: inline-block;
  user-select: none;
}

.twoslash-floating-hide.twoslash-floating-hide .v-popper__arrow-container {
  display: none;
}

.v-popper--theme-twoslash.v-popper--theme-twoslash .twoslash-completion-list {
  color: var(--twoslash-popup-color);
  padding: 6px;
  font-family: var(--twoslash-code-font);
  font-size: var(--twoslash-code-size) !important;
  margin: 0 !important;
}

/* Icons */
.v-popper--theme-twoslash.v-popper--theme-twoslash
  .twoslash-completion-list
  .twoslash-completions-icon {
  color: var(--twoslash-unmatched-color);
  width: 1em;
  flex: none;
}

.v-popper--theme-twoslash.v-popper--theme-twoslash
  .twoslash-completion-list
  li
  span.twoslash-completion-unmatched {
  color: var(--twoslash-unmatched-color);
}

.v-popper--theme-twoslash.v-popper--theme-twoslash .twoslash-completion-list .deprecated {
  text-decoration: line-through;
  opacity: 0.5;
}

.v-popper--theme-twoslash.v-popper--theme-twoslash
  .twoslash-completion-list
  li
  span.twoslash-completions-matched {
  color: var(--twoslash-matched-color);
}

.v-popper--theme-twoslash.v-popper--theme-twoslash
  .twoslash-completion-list
  .twoslash-completions-icon
  svg {
  width: 10px;
  height: 10px;
}

.v-popper--theme-twoslash.v-popper--theme-twoslash .twoslash-completion-list li {
  padding: 3px 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 0.25em;
  line-height: 1em;
}

.v-popper--theme-twoslash.v-popper--theme-twoslash :not(pre, h1, h2, h3, h4, h5, h6) > code {
  color: #8cccd5;
}

/* Custom Theme */
.code-blocks {
  position: relative;
}

.code-blocks-title {
  border-radius: 6px;
  background-color: #090909;
}

.code-blocks-title h5 {
  margin: 0;
  padding: 4px;
  color: #878787;
  border-bottom: 1px solid #505050;
  font-size: 12px;
  font-style: italic;
}

.code-blocks-title .circle1,
.code-blocks-title .circle2,
.code-blocks-title .circle3 {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  transform: translateY(1px);
}

.code-blocks-title .circle1 {
  background-color: #ff5f56;
}

.code-blocks-title .circle2 {
  background-color: #ffbd2e;
  margin: 0 5px;
}

.code-blocks-title .circle3 {
  background-color: #27c93f;
  margin: 0 8px 0 0;
}

.code-blocks-pre {
  position: relative;
  margin: 0 0 16px;
}

.code-blocks-pre :not(pre, h1, h2, h3, h4, h5, h6) > code {
  color: #8cccd5;
}

pre code .tab,
pre code .space {
  position: relative;
}

pre code .tab::before {
  content: '⇥';
  position: absolute;
  opacity: 0.3;
}

pre code .space::before {
  content: '·';
  position: absolute;
  opacity: 0.3;
}

.code-blocks-lang {
  position: absolute;
  top: 0;
  right: 10px;
  z-index: 1;
  font-size: 10px;
  color: #ff9e0466;
}

.btn-copy {
  opacity: 0;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: 1px solid #555555;
  background-color: #110e0e;
  border-radius: 4px;
  outline: none;
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 10px;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.code-blocks:hover .btn-copy {
  opacity: 1;
}

.btn-copy svg {
  width: 16px;
}

.code-blocks pre {
  position: relative;
  padding: 24px 0;
  overflow-x: auto;
  background-color: #090909 !important;
  --shiki-dark-bg: #090909;
  --shiki-dark: #dbd7caee;
  border-radius: 6px;
}

.code-blocks pre > code {
  padding: 0 24px;
  display: block;
}

.code-blocks pre .line {
  /* line-height: 1.7; */
  font-size: 14px !important;
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0 0 16px;
}

h1 {
  font-size: 34px;
  line-height: 46px;
}

h2 {
  font-size: 26px;
  line-height: 36px;
}

h3 {
  font-size: 22px;
  line-height: 30px;
}

h4 {
  font-size: 20px;
  line-height: 28px;
}

h5 {
  font-size: 18px;
  line-height: 26px;
}

h6 {
  font-size: 16px;
  line-height: 24px;
}

p {
  font-size: 14px;
  line-height: 22px;
}

h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
p code,
ul code {
  color: #8cccd5;
  border-radius: 4px;
  padding: 3px 6px;
  background-color: rgba(101, 117, 133, 0.16);
  transition:
    color 0.25s,
    background-color 0.5s;
}

details {
  border-radius: 6px;
  margin-bottom: 16px;
  background-color: #333;
  padding-bottom: 1px;
}

summary {
  background-color: #555;
  padding: 10px;
  cursor: pointer;
  outline: none;
  border-radius: 6px;
  user-select: none;
}

details[open] summary {
  background-color: #666;
}

details > p,
details > h4 {
  padding: 0 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  border: 1px solid #848484;
}

table img {
  width: initial;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #848484;
}

thead th:not(:last-child),
tbody td:not(:last-child) {
  border-right: 1px solid #848484;
}

th {
  background-color: #232121;
}

tr:hover {
  background-color: #232121;
}

.heading-anchor {
  position: relative;
}

.heading-anchor:hover .anchor {
  opacity: 1;
}

.anchor {
  position: absolute;
  padding: 0 2px 0 0;
  right: 100%;
  opacity: 0;
  transition: all 300ms ease-in-out;
}

.opacity-0 {
  opacity: 0;
}

.markdown-group-tab {
  margin: 0 0 8px;
}

.markdown-code-group .code-blocks-group {
  display: none;
}

.markdown-code-group .code-blocks-group.active {
  display: block;
}
main {
  margin: 0 auto;
  padding: 48px 22px;
}

.katex * {
  font-family: initial !important;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 70px;
}

header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999999;
  background-color: #171717;
}

header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  margin: 0 auto;
  max-width: 1140px;
}

header > div > a {
  display: flex;
  align-items: center;
}

header > div > a img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

header > div nav {
  padding: 0;
  margin: 0;
}

header > div ul a {
  display: flex;
  align-items: center;
}

header > div ul {
  list-style: none;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0;
}

header svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

main {
  max-width: initial !important;
}

main > div {
  margin: 0 auto;
  max-width: 1140px;
  display: flex;
}

main .container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 768px;
}

main .aside {
  position: relative;
  order: 2;
  flex-grow: 1;
  padding-left: 32px;
  width: 100%;
  max-width: 256px;
}

main .aside ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

main .aside .content {
  border-left: 1px solid #333;
  padding: 0 0 0 16px;
}

main .aside .content > div {
  line-height: 32px;
  font-size: 14px;
  font-weight: 600;
}

main .aside .content a {
  text-decoration: none !important;
  display: block;
  line-height: 24px;
  font-size: 14px;
  font-weight: 400;
  color: rgba(235, 235, 245, 0.6);
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: color 0.5s;
  position: relative;
}

main .aside .content a:hover {
  color: var(--accent);
}

main .aside .content a::before {
  content: '';
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
  left: -17px;
  transition: all 0.5s;
  opacity: 0;
}

main .aside .content a.is-active {
  color: var(--accent);
}

main .aside .content a.is-active::before {
  background-color: var(--accent);
  opacity: 1;
}

main .aside > div {
  position: fixed;
  top: 0;
  padding-top: 100px;
  width: 224px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
}

@media (max-width: 768px) {
  main .aside {
    display: none;
  }
}

footer {
  background-color: #171717;
  border-top: 1px solid #333;
  text-align: center;
}

footer > div {
  padding: 16px;
  margin: 0 auto;
  max-width: 1140px;
}

footer p {
  line-height: 24px;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  color: rgba(235, 235, 245, 0.6);
}

:root {
  --fg-light: #888;
  --fg: #bbb;
}

.markdown-magic-link {
  display: inline-flex;
  align-items: center;
  background: #8882;
  transform: translateY(3px);
  line-height: 100%;
  color: var(--fg-light) !important;
  gap: 0.25rem;
  border-width: 0px !important;
  border-radius: 0.25rem;
  padding: 0.25rem 0.375rem;
  transition-property: color, background-color, border-color, outline-color, text-decoration-color,
    fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  text-decoration: none !important;
}

.markdown-magic-link:hover {
  background: #8883;
  color: var(--fg) !important;
}

.markdown-magic-link-image {
  display: inline-block;
  height: 1.1em;
  width: 1.1em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2px;
}

.markdown-magic-link.markdown-magic-link-github-at {
  transform: translateY(6px);
  gap: 0.3rem;
  border-radius: 9999px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-transform: uppercase;
}

.markdown-magic-link.markdown-magic-link-github-at .markdown-magic-link-image {
  height: 1.6em;
  width: 1.6em;
  border-radius: 50%;
}

.markdown-magic-link {
  overflow: hidden;
}

.markdown-magic-link::before {
  content: '';
  position: absolute;
  left: -110%;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0)
  );
}

.markdown-magic-link:hover {
  &::before {
    left: 110%;
    transition: all 0.8s;
  }
}
